.svgContainer {
    position: relative;
    width: 300px;
    height: auto;
    padding: 10px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
    &:before {
        content: attr(data-pct)'%';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -16px;
        margin-top: -28px;
        font-size: 18px;
    }
}
@keyframes run {
    to {
        stroke-dashoffset: 0;
    }
}