.editorContainer {
    .editorHead {
        display: flex;
        margin-bottom: 20px;
        h4 {
            flex: 1;
        }
        .previewBtn {
            margin-right: 15px;
        }
    }
    .words {
        margin-bottom: 0;
        text-align: right;
    }
    .editorCont {
        .w-e-text-container {
            height: 500px !important;
        }
        .w-e-toolbar {
            background: #fff !important;
        }
        .w-e-text {
            overflow-y: auto;
        }
    }
}
